<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Automation.Properties.Settings.UnityConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Unity.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Automation.Properties.Settings>
            <setting name="signedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>TR-tr</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="nameSurname" serializeAs="String">
                <value />
            </setting>
            <setting name="userMail" serializeAs="String">
                <value />
            </setting>
            <setting name="phoneNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="userDbID" serializeAs="String">
                <value />
            </setting>
            <setting name="database" serializeAs="String">
                <value />
            </setting>
            <setting name="companyID" serializeAs="String">
                <value />
            </setting>
            <setting name="companyName" serializeAs="String">
                <value />
            </setting>
            <setting name="adminEntered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savedToDb" serializeAs="String">
                <value>False</value>
            </setting>
        </Automation.Properties.Settings>
    </userSettings>
</configuration>